In [1]:
import pandas as pd
import os

In [3]:
for f in os.listdir():
    if "right_thresh" in f and f.endswith(".xlsx"):
        print(f)

thousand_lines_bert_humedit_right_thresh.xlsx
thousand_lines_bert_jokes_right_thresh.xlsx
thousand_lines_colloc_right_thresh.xlsx
thousand_lines_jokecolloc_right_thresh.xlsx

In [7]:
print(' \n Hello \n ')

 Hello

In [8]:
print(' \n Hello \n '.strip())

Hello

In [2]:
def len_non_empty(l):
    s = 0
    for elem in l:
        if type(elem) == str:
            if elem.strip():
                s += 1
    return s

def is_non_empty(elem):
    if type(elem) == str:
        if elem.strip():
            return True
    return False

In [3]:
def describe_method(method):
    df = pd.read_excel(f"thousand_lines_{method}_right_thresh.xlsx", engine="openpyxl")
    print(len(df))
    print(f'Successful sentences: {len_non_empty(df["new span"].tolist())}')
    print(f'Average classifier score: {df["predicted_score"].mean()}')
    print(f'Standard deviation: {df["predicted_score"].std()}')
    print(f'Average classifier score on successful only: {df[df["new span"].apply(is_non_empty)]["predicted_score"].mean()}')

In [4]:
describe_method('jokecolloc')

1000
Successful sentences: 148
Average classifier score: 0.01640706198724575
Standard deviation: 0.11512138976298461
Average classifier score on successful only: 0.03297208119739492

In [5]:
describe_method('colloc')

1000
Successful sentences: 520
Average classifier score: 0.019027218167315462
Standard deviation: 0.13068875012342415
Average classifier score on successful only: 0.02187033391225511

In [6]:
describe_method('bert_humedit')

1000
Successful sentences: 724
Average classifier score: 0.09349578525552966
Standard deviation: 0.24076050705371366
Average classifier score on successful only: 0.09349578525552966

In [7]:
describe_method('bert_jokes')

1000
Successful sentences: 636
Average classifier score: 0.11376477210901698
Standard deviation: 0.2746254193564163
Average classifier score on successful only: 0.11376477210901698

In [32]:
pd.read_excel(f"thousand_lines_colloc_right_thresh.xlsx", engine="openpyxl")

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,id,title,content,source,headline,masked,tokenized,span_index,span,predicted,new span,collocation_strength,semantic_distance,predicted_score
0,103,352419,352484,206931,A politician used the n-word in front of black...,A Florida state senator has stepped ...,AllTheNewsKaggle,A politician used the N-Word in front of black...,A politician used the N - Word in front of bla...,"['a_DET', 'politician_NOUN', 'use_VERB', 'the_...","(11,)","('colleague_NOUN',)",A politician used the N - Word in front of bla...,hole_NOUN,5.917710,0.496440,0.999999
1,784,180705,180768,212833,Alicia Keys is done playing nice. Your phone i...,"NEW YORK — On a cool Manhattan night, ...",AllTheNewsComponentsOne,Alicia Keys is done playing nice. your phone i...,Alicia Keys is done [MASK] nice . your phone i...,"['Alicia_PROPN', 'Keys_PROPN', 'be_AUX', 'do_V...","(4,)","('play_VERB',)",Alicia Keys is done pulling nice . your phone ...,pull_VERB,3.778722,0.405987,0.999997
2,348,185979,186042,219037,breath.aspirate.ether,"i.As always, because Wambui Mwangi teaches me,...",AllTheNewsComponentsOne,Breath.Aspirate.Ether,Breath . [MASK] . Ether,"['breath_NOUN', '._PUNCT', 'Aspirate_PROPN', '...","(2,)","('Aspirate_PROPN',)",Breath.Aspirate.Ether,NaN,NaN,NaN,0.999509
3,85,350691,350756,204781,"My partner and I have $120,000 in student debt...","As many young couples do, my boyfriend an...",AllTheNewsKaggle,"My partner and I have$ 120,000 in student debt...","My partner and I have$ 120,000 in student debt...","['my_PRON', 'partner_NOUN', 'and_CCONJ', 'I_PR...","(13,)","('how_ADV',)","My partner and I have$ 120,000 in student debt...",permanently_ADV,3.016068,0.481174,0.995620
4,889,270253,270316,75579,Do the Syria Strikes Mean North Korea Is Next?,“The message that any nation can take is if yo...,AllTheNewsKaggle,Do the Syria strikes mean North Korea is next?,Do the Syria strikes [MASK] North Korea is next ?,"['do_AUX', 'the_DET', 'Syria_PROPN', 'strike_N...","(4,)","('mean_VERB',)",Do the Syria strikes open North Korea is next ?,open_VERB,4.890946,0.474130,0.993373
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,984,8297,8357,13181,Trump Declares Opioid Crisis a ‘Health Emergen...,WASHINGTON — President Trump on Thursday direc...,Times,Trump declares Opioid crisis a ‘ health emerge...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,994,11432,11492,18242,Trump to Announce Carrier Plant Will Keep Jobs...,"From the earliest days of his campaign, Donald...",Times,Trump to announce carrier plant will keep jobs...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,997,211602,211665,256195,John Kelly Pins Civil War on a ‘Lack of Abilit...,"If, by appearing on Laura Ingraham’s show on M...",AllTheNewsComponentsOne,John Kelly pins Civil war on a ‘ lack of abili...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,998,197546,197609,232516,"Murray Hill, Manhattan: Where the Old and New ...",Murray Hill is a fast-growing area where many ...,AllTheNewsComponentsOne,"Murray Hill, Manhattan: where the old and new ...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,999,231476,231539,31585,Donald Trump Celebrates House Vote for Obamaca...,President Donald Trump celebrated the House vo...,AllTheNewsKaggle,Donald Trump celebrates House vote for Obamaca...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
os.listdir("../data")

['funlines', 'humicroedit', 'unfunme']

In [47]:
joke_corpus = pd.read_csv("../joke_corpus/short_jokes_train.tsv",
                         header=None)

In [48]:
joke_corpus.head()

   0  1  2                                                  3
0  0  0  a  today one kasparov aide reportedly said she wa...
1  1  1  a        im scared of trampolines they make me jump.
2  2  0  a  white house officials say bush personally noti...
3  3  0  a  ms. callaghan’s latest play lascivious somethi...
4  4  0  a  the good thing now is we have the farm system ...

In [52]:
joke_corpus[1].value_counts()

0    173851
1    173635
Name: 1, dtype: int64

In [53]:
joke_corpus[2].value_counts()

a    347486
Name: 2, dtype: int64